<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.category }}</td>
            <td>{{ post.title }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('qb_blog_backend_post_edit', { 'id': post.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('qb_blog_backend_post_delete', { 'id': post.id, 'token': csrf_token( post ) }) }}">delete</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">There are no posts.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="{{ path('qb_blog_backend_post_new') }}">create a new post</a></p>
